/** VARIABLE DECLARATIONS **/
:root {
    --primary-color: #AD1457;
    --secondary-color: #F48FB1;
    --tertiary-color: #313131;
}

/** MAIN STYLES **/
h1, h2, h3, h4, h5, h6, q {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 5rem;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: large;
}

a {
    text-decoration: none !important;
}

.btn {
    font-weight: 300;
}

/** NAVBAR **/
.navbar {
    padding: 2% 5%;
}

.navbar-brand {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

@media (max-width: 768px){ 
    .navbar-brand {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px){ 
    .navbar-brand {
        font-size: 1.2rem;
    }
}

.display-block {
    display: block;
}

#navbar-brand-line1 {
    font-weight: 900;
}

.nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav-item {
    margin: 15px;
}

/** HOME PAGE **/
/* #home-section-main {
    padding-top: 5%;
}

#green-square {
    position: relative;
    background-color: #C4D7B2;
    width: 680px;
    height: 500px;  
} */


/** HOME - Test **/
#home-logo {
    background-color: #5B5B5B; /** #5B5B5B; **/
    border-top: black solid 5px;
    border-left: black solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home-logo img {
    max-width: 35%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.home-title {
    margin-bottom: 15%;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}


#home-social-icons {
    background-color: #BFCCB5; /** #5B5B5B; **/
    border-left: black solid 5px;
}

#home-img {
    background-color: #BFCCB5; 
    padding: 0;
    border-top: black solid 5px;
}

.icons-bg {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}

.icons {
    font-size: 30px;
    cursor: pointer;
    color:  #5B5B5B;
}

.icons:hover {
    font-size: 33px;
    color: #5B5B5B;
}

#home-bottom-imgs {
    padding: 0;
}


/** PROJECTS PAGE **/
#project1-desc, #project2-desc, #project3-desc {
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

#project1 {
    background-color: #5B5B5B;
    color: white;
}

#project1-desc {
    border-top: solid black 5px;
    border-right: solid black 5px;
}

#project2-desc {
    color: black;
    border-bottom: solid black 5px;
}

#project1-img, #project2-img, #project3-img {
    padding: 0;
}

#project2-img {
    border-top: solid black 5px;
}

#project3-desc {
    background-color: #B7B7B7;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
    color: black;
}

#project3-img {
    background-color: #B7B7B7;
}

#quote {
    background-color: #BFCCB5;  
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    border-left: solid black 5px;
}

#quote img {
    max-width: 100%;
}

q {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Homemade Apple', cursive;
}

/** CONTACT PAGE **/
#contact-desc {
    background-color: #5B5B5B;
    color: white;
    border-left: solid black 5px;
    border-top: solid black 5px;
}

.contact-logo {
    max-width: 35%;
    margin-top: 20%;
    margin-bottom: 20%;
}

#contact2-desc {
    background-color: #BFCCB5; 
}

#contact3 {
    background-color: #B7B7B7;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.contact-info {
    font-size: 1.3rem;
}


/* Contact Form */

.btn-green {
    background-color: #BFCCB5; 
    color: black;
}

#contact-form-container {
    font-family: 'Noto Sans', sans-serif;
    padding: 3%;
}

#contact-form-container input, #contact-form-container textarea{
    font-family: 'Cormorant Garamond', serif;
}

#contact-form-container input {
    font-size: 1.1rem;
    border: none;
    border-bottom: solid 2px #5B5B5B;
}

#contact-form-container textarea {
    background-color: #B7B7B7;
    border: none;
}

/** TEST **/
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

/** PROFILE PAGE **/
.text-bold {
    font-weight: 900;
}

.btn-dark-grey {
    background-color: #5B5B5B; 
    color: white;
}

.btn-light-grey {
    background-color: #B7B7B7; 
    color: black;
}

.btn-black {
    background-color: black; 
    color: white;
}

.bg-light-green {
    background-color: #BFCCB5;
}

#profile-first-section {
    background-color: #5B5B5B;
    color: white;
    border-top: black solid 5px;
    border-left: black solid 5px;
}

#profile-img-1 {
    background-color: #5B5B5B;
    border-top: black solid 5px;
}

#profile-second-section {
    border-right: black solid 5px;
}

hr {
    border-top: 2px solid;
    color: white;
    opacity: 0.9;
}

.hr-black {
    color: black;
}

#profile-buttons {
    background-color: #BFCCB5;
}


/** FOOTER **/
#footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    margin-left: 5px;
}

.footer-signature {
    font-family: 'Homemade Apple', cursive;
    color: #66806A;
    margin-left: 5px;
}

.footer-signature:hover {
    color: #5B5B5B;
}

.bi-heart {
    color: #66806A;
}

